/*font-size-variables */
/*font-weight-variables */
/* Droid Sans font add */
@font-face { font-family: 'Nexa'; src: url("../css/fonts/Nexa Bold.otf") format("otf"), url("../css/fonts/Nexa Book Italic.otf") format("otf"), url("../css/fonts/Nexa Heavy.otf") format("otf"), url("../css/fonts/Nexa Light.otf") format("otf"), url("../css/fonts/Nexa Regular.otf") format("otf"); }
@font-face { font-family: 'NexaHeavy'; src: url("../css/fonts/NexaHeavy.eot"); src: url("../css/fonts/NexaHeavy.eot?#iefix") format("embedded-opentype"), url("../css/fonts/NexaHeavy.woff2") format("woff2"), url("../css/fonts/NexaHeavy.woff") format("woff"), url("../css/fonts/NexaHeavy.ttf") format("truetype"), url("../css/fonts/NexaHeavy.svg#NexaHeavy") format("svg"); font-weight: 900; font-style: normal; }
@font-face { font-family: 'NexaRegular'; src: url("../css/fonts/NexaRegular.eot"); src: url("../css/fonts/NexaRegular.eot?#iefix") format("embedded-opentype"), url("../css/fonts/NexaRegular.woff2") format("woff2"), url("../css/fonts/NexaRegular.woff") format("woff"), url("../css/fonts/NexaRegular.ttf") format("truetype"), url("../css/fonts/NexaRegular.svg#NexaRegular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Nexa'; src: url("../css/fonts/Nexa-Bold.eot"); src: url("../css/fonts/Nexa-Bold.eot?#iefix") format("embedded-opentype"), url("../css/fonts/Nexa-Bold.woff2") format("woff2"), url("../css/fonts/Nexa-Bold.woff") format("woff"), url("../css/fonts/Nexa-Bold.ttf") format("truetype"), url("../css/fonts/Nexa-Bold.svg#Nexa-Bold") format("svg"); font-weight: bold; font-style: normal; }
@font-face { font-family: 'Nexa-Book'; src: url("../css/fonts/Nexa-Book-Italic.eot"); src: url("../css/fonts/Nexa-Book-Italic.eot?#iefix") format("embedded-opentype"), url("../css/fonts/Nexa-Book-Italic.woff2") format("woff2"), url("../css/fonts/Nexa-Book-Italic.woff") format("woff"), url("../css/fonts/Nexa-Book-Italic.ttf") format("truetype"), url("../css/fonts/Nexa-Book-Italic.svg#Nexa-Book-Italic") format("svg"); font-weight: normal; font-style: italic; }
@font-face { font-family: 'Nexa'; src: url("../css/fonts/Nexa-Light.eot"); src: url("../css/fonts/Nexa-Light.eot?#iefix") format("embedded-opentype"), url("../css/fonts/Nexa-Light.woff2") format("woff2"), url("../css/fonts/Nexa-Light.woff") format("woff"), url("../css/fonts/Nexa-Light.ttf") format("truetype"), url("../css/fonts/Nexa-Light.svg#Nexa-Light") format("svg"); font-weight: 300; font-style: normal; }
/* HELPER CLASS -------------------------- */
a { font-size: 14px; }

a, input[type=text], .btn, .menu-icon .fa, img, .top-delivey-services, .header.menu-opened .top-delivey-services { -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }

.btn, .btn.focus, .btn:focus, a:hover, a:focus, a:active { box-shadow: none; outline: none; }

.container { max-width: 1185px; }

html, body { height: 100%; position: relative; }

html { overflow-y: scroll; }

body { min-width: 100px; line-height: 1.429; font-weight: 400; font-style: normal; font-size: 14px; font-family: "Open Sans", "sans-serif"; }

a { cursor: pointer; text-decoration: none; font-style: normal; }

a:hover, a:focus, a:active { text-decoration: none; font-style: normal; outline: none; }

img { border: 0; vertical-align: middle; }

ul, ol { list-style-position: inside; list-style-type: none; }

img { max-width: 100%; }

/* ==========================================================================
> header-section
========================================================================== */

/*# sourceMappingURL=styles.css.map */
