html,
body {
  height: 100%;
  position: relative;
}

html {
  overflow-y: scroll;
}

body {
  min-width: 100px;
  line-height: $line-height;
  font-weight: 400;
  font-style: normal;
  font-size: $base-font-size;
  font-family:$openseans;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
}


a:hover,
a:focus,
a:active {
  text-decoration: none;
  font-style: normal;
  outline: none;
}

img {
  border: 0;
  vertical-align: middle;
}

ul,
ol {
  list-style-position: inside;
  list-style-type: none;
}

img {
  max-width: 100%;
}
/* ==========================================================================
> header-section
========================================================================== */
